@media only screen and (max-width: 1108px) {
    wrapper {
        width: 90%;
    }
    #social {
        position: absolute;
        top: 82px;
        right: 42px;
        width: auto;
    }
    #social a {
        display: inline-block;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 85%;
    }
    #logo h1 {
        width: 35px;
        height: 35px;
    }
    #logo h2 {
        font-size: 2.2em;
    }
    #social {
        top: 72px;
    }
    col-3 {
        column-count: 1;
    }
}

@media only screen and (max-width: 800px) {
    #navbar nav a {
        font-size: 0.9em;
        ;
    }
}

@media only screen and ( max-width: 750px) {
    col-1,
    col-2,
    col-3 {
        widht: 100%;
        margin-left: 1, ;
        Float: none;
    }
    .borger-right {
        border: zero;
    }
    #detail div {
        height: auto;
        padding-bottom: 20px;
    }
    col-3 {
        column-count: 1;
    }
}

@media only screen and (max-width: 700px) {
    #navbar nav a {
        display: none;
    }
    #navbar nav a.menuicon {
        display: float;
        float: right;
        fontsize: 1.5;
        padding: 10px 20px;
    }
    #logo {
        padding: 60px 00;
    }
    #social {
        top: 600px;
    }
}

@media only screen and (max-width: 700px) {
    h2 {
        visibility: hidden;
    }
}